{% extends 'client/base.html' %}
{% block page_header %}
	{% for message in messages %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<span class="alert-icon"><i class="ni ni-like-2"></i></span>
			<span class="alert-text">{{ message }}</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
{% endblock %}
{% block page_content %}
<div class="card shadow mb-5">
	<div class="card-header border-0 ">
		<div class="row align-items-center">
			<div class="col">
				<h1 class="mb-3">My Profile</h1>
			</div>
			<div class="col text-right">
				<button class="btn btn-primary" id="update-employee">Update</button>
			</div>
		</div>
	</div>
	<div class = "card-body mt--3">
		<form method="POST" id="employee-profile-form" enctype="multipart/form-data">
			{% csrf_token %}
			<div id="basic-info">
				<div class="row mb-2">
					<div class="col">
						<label class="form-control-label">{{ profile_form.first_name.label }}</label>
						{{ profile_form.first_name }}
					</div>
					<div class="col">
						<label class="form-control-label">{{ profile_form.last_name.label }}</label>
						{{ profile_form.last_name }}
					</div>
					<div class="col">
						<label class="form-control-label">{{ profile_form.email.label }}</label>
						{{ profile_form.email }}
					</div>
				</div>
				<div class="row mb-2">
					<div class="col">
						<label class="form-control-label">{{ profile_form.designation.label }}</label>
						{{ profile_form.designation }}
					</div>
					<div class="col">
						<label class="form-control-label">Profile Photo</label>
						<div class="custom-file">
							{{ profile_form.profile_photo }}
							<label class="custom-file-label" for="customFileLang">{{ profile_form.profile_photo.label }}</label>
						</div>
					</div>
				</div>
			</div>	
			<div class="float-right mt-3" id="employee-update-action">
				
			</div>
		</form>
	<div>
</div>

{% endblock %}
