<form method="post" action="{% url 'change_password' %}" id="change-password-form">
	{% csrf_token %}
	<div class="modal-header">
		<div class="text-center">
			<h4 class="modal-title">Change Password</h4>
		</div>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<div class="input-group input-group-alternative">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="ni ni-email-83"></i></span>
				</div>
				{{ form.old_password }}
			</div>
		</div>
		<div class="form-group">
			<div class="input-group input-group-alternative">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="ni ni-email-83"></i></span>
				</div>
				{{ form.new_password1 }}
			</div>
		</div>
		<div class="form-group">
			<div class="input-group input-group-alternative">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="ni ni-email-83"></i></span>
				</div>
				{{ form.new_password2 }}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>
