{% extends 'candidate/base.html' %}
{% load static %}

{% block page_header %}
	
{% endblock %}

{% block page_content %}
<div class="card shadow">
	<div class="card-header border-0">
		<div class="row align-items-center">
			<div class="col">
				<h2 class="mb-0">My Jobs</h2>
			</div>
		 </div>
	</div>
	<div class="table-responsive">
		<!-- Consultant Members Table-->
		<table id="jobs-table" class="table align-items-center table-flush">
			<thead class="thead-light">
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Type</th>
					<th scope="col">Salary</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
			<tbody>
				{% for job in jobs %}
					<tr data-id="{{ job.id }}">
						<th scope="row">
							<a href="{% url 'candidate_schedule' job.id %}">
								<div class="row">
									
									<div class="col-2">
										<img class="img-fluid" src="{{ job.client.logo.url }}">
									</div>
									<div class="col-10">
										<h4>
											{{ job.title }}
										</h4>
										{{ job.client.name }}
									</div>
								</div>
							</a>
						</th>
						<td>
							{{ job.job_type }}
						</td>
						<td>
							{{ job.salary }}
						</td>
						<td>
							{{ job.location }}, {{ job.region}}
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="7" class="text-center bg-warning">No Jobs Applied</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
